.vagrant
/S1/HerramientasAutomatizacionDespliegues/DemoChefApache/local-mode-cache
/S1/HerramientasAutomatizacionDespliegues/DemoChefApache/chef-repo/nodes
/S1/HerramientasAutomatizacionDespliegues/DemoChefApache/ubuntu-bionic-18.04-cloudimg-console.log
